

body {
    font-family: "Lato", sans-serif;
    
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  

  .sidenav {
    
    width: 15%;
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    padding-top: 1%;
    margin-top: 60px;
    background-color: #eee;   
    
    
  }
  .sidenav h5{
    text-align: center;
    font-weight: bold;
  }
  .sidenav a {
    display: block;
    background-color: inherit;
    color: black;
    text-align: justify;
    cursor: pointer;
    font-size: 13px;
    scroll-margin-top: 1em;
    margin-left: 25%;
    position: relative;
  }
  
  .sidenav a:hover {
    color: #E8DF31;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  .contentWrapper{
    display: block;
    margin-left:250px;
    margin-top:75px;
    margin-bottom:100px;
    text-align: justify;
    } 

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 450px) {
    .contentWrapper { margin-left:10px;
      }  
    .sidenav {
      width: 100px;
    }
    .sidenav a{
      margin-left: 5px;
    }
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  